<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>362676702023-fhlgcvqmso79p7p780a2sak4l1rcdm8n.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.362676702023-fhlgcvqmso79p7p780a2sak4l1rcdm8n</string>
	<key>API_KEY</key>
	<string>AIzaSyDX47cPf_tc_KYtNxnFCoDYHHL1BCv0oh4</string>
	<key>GCM_SENDER_ID</key>
	<string>362676702023</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.aekosyakov.DemoScreenApp</string>
	<key>PROJECT_ID</key>
	<string>quickstart-1552002360631</string>
	<key>STORAGE_BUCKET</key>
	<string>quickstart-1552002360631.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:362676702023:ios:74c5ef4b04c6be83</string>
	<key>DATABASE_URL</key>
	<string>https://quickstart-1552002360631.firebaseio.com</string>
</dict>
</plist>